PORT=3000

AWS_REGION=sa-east-1
DYNAMODB_ENDPOINT=http://localhost:8000
DYNAMODB_ACCESS_KEY_ID=local
DYNAMODB_SECRET_ACCESS_KEY=local
USERS_TABLE_NAME=users
PRODUCTS_TABLE_NAME=products

JWT_SECRET=change-this-secret-in-real-environments
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN=7d