PORT=3000

AWS_REGION=sa-east-1
DYNAMODB_ENDPOINT=http://localhost:8000
DYNAMODB_ACCESS_KEY_ID=local
DYNAMODB_SECRET_ACCESS_KEY=local
USERS_TABLE_NAME=users
PRODUCTS_TABLE_NAME=products
REVOKED_TOKENS_TABLE_NAME=revoked_tokens
REFRESH_TOKENS_TABLE_NAME=refresh_tokens

JWT_SECRET=change-this-secret-in-real-environments
JWT_ACCESS_TOKEN_EXPIRES_IN_SECONDS=900
JWT_REFRESH_TOKEN_EXPIRES_IN_SECONDS=604800

RATE_LIMIT_MAX_REQUESTS=100
RATE_LIMIT_WINDOW_SECONDS=60
TRUST_PROXY_HOPS=0
